header {
    height: $header-height;
    background-color: $header-background-color;
    color: $default-text-color;
    display: flex;
    justify-content: center;

    h1 {
        text-transform: uppercase;
        font-size: 1em;
    }

    .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    ul.menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 65px;

        >li {
            margin-left: 20px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-of-type {
                position: relative;

                &:hover {
                    .dropdown {
                        display: block;
                    }
                }
            }

            >.menu-link {
                text-decoration: none;
                color: $default-text-color;
                text-transform: uppercase;
                font-size: .9em;
                font-weight: 700;
                padding: 20px 5px;
            }
        }


    }
}

// dropdown menu


.dropdown {
    position: absolute;
    top: 75px;
    left: -25px;
    margin: 0;
    display: none;

    li {
        display: block;
        width: 135px;
        background-color: black;
        padding: 5px 10px;

        &:first-of-type {
            padding-top: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-of-type {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .menu-link {
            display: block;
            text-decoration: none;
            color: $default-text-color;
            text-transform: capitalize;
            font-size: .9em;
            font-weight: 700;
            padding: 10px 5px;
        }
    }



    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $header-background-color;
        position: absolute;
        top: -20px;
        left: 50px;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 50px;
        background-color: transparent;
        position: absolute;
        top: -25px;
    }
}